*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;

}
.conteiner{
    height: 700px;
    width: 600px;
    /* background-color: blue; */
    text-align: center;
    border: 1px solid black;
    background-color: aqua;
    
}
.h1{
    color: yellowgreen;
}
input{
    height: 30px;
    width:  570px;
    
    
}
